.gradient-background {
            background: linear-gradient(300deg,#8996AB,#3B4E6B,#0D192B);
            background-size: 180% 180%;
            animation: gradient-animation 18s ease infinite;
        }
        
        .introduction {
            font-family: "DM Serif Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 50px;
            color: #A3AB89;
        }

        .intro-paragraph {
            font-family: "DM Serif Display", serif;
            font-weight: 400;
            font-style: italic;
            color: #ABA489;
        }

        .second-section {
            background-color: #8996AB;
        }

        .myself {
            border-radius: 100%;
            border: 10px solid #2B1D0D;
            height: 300px;
        }

        .about-me {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            color: #1A2333;
        }

        .description {
            color: #1A2333;
            text-align: justify;
        }

        .third-section {
            background-color: #3B4E6B;
        }

        .skills {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            color: white;
            
            text-align: right;
        }

        .interest {
            font-family: "DM Serif Display", serif;
            font-style: normal;
            color: white;
        }

        .skills-list {
            color: white;
            text-align: right;
            list-style-type: none;
            padding-left: 0;
        }

        .interests-list {
            color: white;
            list-style-type: none;
            padding: 0;
        }

        .redirectors {
            color: #ABA489;
            font-size: medium;
            text-align: center;
        }